rank4_NLP_textclassification/
__pycache__

submit/*
!submit/.gitkeep

data/*
!data/.gitkeep

fasttext/fasttext*

*/train_log/*
!*/train_log/.gitkeep

*/checkpoint/*
!*/checkpoint/.gitkeep

word2vec/*.wv
